@media ((min-width:0px) and (max-width: 767px)) {
    .skillOuterContainer{
        padding-top: 18%;
    }
    .skillInnerContainer{
        top:18%;
    }
    .skill_heading {
            height: fit-content;
            width: fit-content;
            font-size: 50px;
            font-weight: 800;
            letter-spacing: 10px;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.285);
            padding-left: 25px;
            /* border: 1px solid black; */
        }
    
        .skill_content {
            margin-top: 15%;
            padding: 40px;
            position: relative;
            left: 42%;
            transform: translateX(0%);
        }
    
        .skill_content>div {
            /* border: 1px solid red; */
            margin-left: 40px;
            cursor: pointer;
        }
    
        /* .skill_content > div > svg{
        filter: grayscale(50%);
    } */
    
        .skill_content>div:hover>svg {
            filter: none;
        }
    
        .brainEmoji {
            width: fit-content;
            height: fit-content;
            display: inline-block;
            transform-origin: 80% 80%;
        }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .skillOuterContainer {
            padding-top: 7%;
        }
    .skillInnerContainer {
            top: 7%
        }
    .skill_heading {
            height: fit-content;
            width: fit-content;
            font-size: 108px;
            font-weight: 800;
            letter-spacing: 10px;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.285);
            padding-left: 25px;
            /* border: 1px solid black; */
        }
    
        .skill_content {
            padding: 40px;
            position: relative;
            left: 42%;
            transform: translateX(0%);
        }
    
        .skill_content>div {
            /* border: 1px solid red; */
            margin-left: 40px;
            cursor: pointer;
        }
    
        /* .skill_content > div > svg{
        filter: grayscale(50%);
    } */
    
        .skill_content>div:hover>svg {
            filter: none;
        }
    
        .brainEmoji {
            width: fit-content;
            height: fit-content;
            display: inline-block;
            transform-origin: 80% 80%;
        }
}

@media (min-width: 1281px) {
    .skillOuterContainer {
            padding-top: 7%;
        }
    .skillInnerContainer {
            top: 7%
        }
    .skill_heading {
            height: fit-content;
            width: fit-content;
            font-size: 108px;
            font-weight: 800;
            letter-spacing: 10px;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.285);
            padding-left: 25px;
            /* border: 1px solid black; */
        }
    
        .skill_content {
            padding: 40px;
            position: relative;
            left: 42%;
            transform: translateX(0%);
        }
    
        .skill_content>div {
            /* border: 1px solid red; */
            margin-left: 40px;
            cursor: pointer;
        }
    
        /* .skill_content > div > svg{
        filter: grayscale(50%);
    } */
    
        .skill_content>div:hover>svg {
            filter: none;
        }
    
        .brainEmoji {
            width: fit-content;
            height: fit-content;
            display: inline-block;
            transform-origin: 80% 80%;
        }
}


