/* @media ((min-width:0px) and (max-width: 480px)) {
    .skills_icon {
        height: 60px;
        width: 60px;
    }
}

@media ((min-width:481px) and (max-width: 767px)) {
    .skills_icon {
        height: 80px;
        width: 80px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .skills_icon {
        height: 80px;
        width: 80px;
    }
}

@media (min-width: 1000px) and (max-width: 1280px) { */

    .skills_icon {
        height: 150px;
        width: 150px;
    }
/* }

@media (min-width: 1281px) {

    .skills_icon {
        height: 100px;
        width: 100px;
    }
} */